
.box{
    margin: auto;
    width : 600px;
    height : 100px;
    border : 2px solid rgb(17, 17, 17);
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.container-box-images{
    display: flex;
    gap:20px;
    overflow-x: scroll;
}

.box-img img{
    min-width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.icon{
    position: absolute;
    cursor: pointer;
}
.right{
    right: 0px;
}